<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:unlockall" type="Sitecore.Shell.Applications.WebEdit.Commands.UnlockAll, Sitecore.ExperienceEditor" set:type="Sitecore.Support.sitecore.shell.Application.WebEdit.UnlockAll, Sitecore.Support.156916" />
    </commands>
  </sitecore>
</configuration>