<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:unlockall" type="Sitecore.Support.Shell.Applications.WebEdit.Commands.UnlockAll, Sitecore.Support.156916"
               patch:instead="command[@type='Sitecore.Shell.Applications.WebEdit.Commands.UnlockAll, Sitecore.ExperienceEditor']"/>
    </commands>
  </sitecore>
</configuration>